
<div class="smart-title">Smart Task Manager</div>
<table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>date</th>
        <th>category</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
        
      @for (task of tasksService.taskList(); track task.id) {
        @if(task.id == editTaskId) { 
            <tr app-task-edit [task]="task" (cancel)="onCloseRow()" (save)="onSaveRow($event)"></tr> 
        } @else {
            <tr app-task-item [task]="task" (delete)="onDeleteRow($event)" (edit)="onEditRow($event)"></tr> 
        }
      }
      
    </tbody>
  </table>
